<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="vertical-menu">
  <a href="index.md">Home</a>
  <a href="vieetu.md">Présentation de l'ENIT</a>
  <a href="vieetu.md">Formation</a>
  <a href="vieetu.md">Vie étudiante</a>
  <a href="vieetu.md">Mobilité</a>
  <a href="vieetu.md">Services numériques</a>
  <a href="vieetu.md">RGPD : Recommandations</a>
  <a href="vieetu.md">Contacts</a>
</div>

</body>
</html>
