<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Guide de l'étudiant ENIT</title>

  <!-- Bootstrap core CSS -->
  <link href="_layouts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="_layouts/css/simple-sidebar.css" rel="stylesheet">
  
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="crossorigin=""/> 
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
  
  <style>

    html, body {
      margin: 0;
      padding: 0;
      font-family: Calibri, Verdana, Lucida, sans-serif;
      font-size: 18px;
    }
	</style>
	 

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><center>GUIDE DE L'ETUDIANT ENIT<center><img src="images/enit.png" width=180 height=180 class="img-fluid"</center></center></div>
      <div class="list-group list-group-flush">
        <a href="presentation.html" class="list-group-item list-group-item-action bg-light">1. Présentation de l'ENIT</a>
        <a href="formation.html" class="list-group-item list-group-item-action bg-light">2. Formation</a>
        <a href="vieetu.html" class="list-group-item list-group-item-action bg-light">3. Vie étudiante</a>
        <a href="mobilite.html" class="list-group-item list-group-item-action bg-light">4. Mobilité</a>
        <a href="servicesnum.html" class="list-group-item list-group-item-action bg-light">5. Services numériques</a>
        <a href="rgpd.html" class="list-group-item list-group-item-action bg-light">6. RGPD : Recommandations</a>
		<a href="contacts.html" class="list-group-item list-group-item-action bg-light">7. Contacts</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Langue
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="presentation.html">Français</a>
                <a class="dropdown-item" href="presentationEN.html">Anglais</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
	   <h1 class="mt-4">{{ page.title }}</h1>
	   {{ content }}
      </div>
	      
  </div>
  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="_layouts/vendor/jquery/jquery.min.js"></script>
  <script src="_layouts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
